.SignIn {
}

.SignIn-title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.SignIn-form {
  height: 80vh;
  padding: 0 5% 0 5%;
  box-sizing: border-box;
}

.SignIn-form dl {
  margin: 0;
  margin-top: 15px;
}
.SignIn-form dt {
  margin-bottom: 4px;
}
.SignIn-form dd {
  margin: 0;
}
.SignIn-form dt label {
  font-size: 14px;
  font-weight: 600;
}

.SignIn-form dt label::after {
  content: ' *';
  color: red;
  font-weight: 300;
}

.SignIn-form input {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  border: 1px solid rgb(208, 215, 222);
  padding: 4px 10px 4px 10px;
  background: rgb(246, 248, 250);
  box-sizing: border-box;
}

.SignIn-button {
  width: 100%;
  margin-top: 50px;
  height: 42px;
  border-radius: 7px;
  text-align: center;
  border: solid 1px;
}

@media only screen and (min-width: 768px) {
  .SignIn {
    display: flex;
    justify-content: center;
  }
  .SignIn-container {
    min-width: 350px;
    max-width: 1000px;
  }
}
